## Deliverable 2. Create a Customer Travel Destinations Map.

In [72]:
# Dependencies and Setup
import pandas as pd
import requests
import gmaps
import numpy as np

# Import API key
from config import g_key

# Configure gmaps API key
gmaps.configure(api_key=g_key)

In [73]:
# 1. Import the WeatherPy_database.csv file. 
city_data_df = pd.read_csv("../Weather_Database/WeatherPy_database.csv")
city_data_df.head()

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Altos,BR,2022-08-14 21:44:09,-5.0381,-42.4600,88.11,27,63,1.57,broken clouds
1,1,Barrow,US,2022-08-14 21:42:32,71.2906,-156.7887,37.42,87,100,8.05,overcast clouds
2,2,Vaini,TO,2022-08-14 21:42:19,-21.2000,-175.2000,68.16,94,75,10.36,light intensity shower rain
3,3,Bluff,NZ,2022-08-14 21:39:28,-46.6000,168.3333,44.02,78,90,8.03,overcast clouds
4,4,Biak,ID,2022-08-14 21:44:12,-0.9131,122.8766,74.82,83,98,6.58,overcast clouds

In [74]:
# 2. Prompt the user to enter minimum and maximum temperature criteria 
# Ask the customer to add a minimum and maximum temperature value.
min_temp = float(input("What is the minimum temperature you would like for your trip? "))
max_temp = float(input("What is the maximum temperature you would like for your trip? "))

What is the minimum temperature you would like for your trip? 70
What is the maximum temperature you would like for your trip? 92

In [75]:
# 3. Filter the city_data_df DataFrame using the input statements to create a new DataFrame using the loc method.
preferred_cities_df = city_data_df.loc[(city_data_df["Max Temp"] <= max_temp) & \
                                       (city_data_df["Max Temp"] >= min_temp)]
preferred_cities_df.head(20)

,City_ID,City,Country,Date,Lat,Lng,Max Temp,Humidity,Cloudiness,Wind Speed,Current Description
0,0,Altos,BR,2022-08-14 21:44:09,-5.0381,-42.4600,88.11,27,63,1.57,broken clouds
4,4,Biak,ID,2022-08-14 21:44:12,-0.9131,122.8766,74.82,83,98,6.58,overcast clouds
5,5,The Valley,AI,2022-08-14 21:44:12,18.2170,-63.0578,87.66,79,20,9.22,few clouds
7,7,Rikitea,PF,2022-08-14 21:42:17,-23.1203,-134.9692,73.26,77,0,18.68,clear sky
10,10,Anloga,GH,2022-08-14 21:44:16,5.7947,0.8973,73.74,91,100,17.90,light rain
12,12,Kotovo,RU,2022-08-14 21:44:16,50.3211,44.8012,72.10,51,97,15.57,overcast clouds
13,13,Naze,JP,2022-08-14 21:40:12,28.3667,129.4833,81.52,79,18,11.56,few clouds
14,14,Atuona,PF,2022-08-14 21:42:20,-9.8000,-139.0333,77.36,67,2,19.75,clear sky
15,15,Cabo San Lucas,MX,2022-08-14 21:44:17,22.8909,-109.9124,87.62,65,63,6.15,broken clouds
16,16,Souillac,MU,2022-08-14 21:41:58,-20.5167,57.5167,70.18,78,75,17.27,broken clouds
18,18,Hadejia,NG,2022-08-14 21:44:18,12.4498,10.0444,75.02,83,100,7.49,overcast clouds
19,19,Ararat,AM,2022-08-14 21:44:18,39.8317,44.7049,82.74,35,0,3.98,clear sky
21,21,Skeldon,GY,2022-08-14 21:44:18,5.8833,-57.1333,79.23,78,54,6.22,broken clouds
24,24,Jamestown,US,2022-08-14 21:42:28,42.0970,-79.2353,77.02,38,75,3.44,broken clouds
26,26,Kapaa,US,2022-08-14 21:44:20,22.0752,-159.3190,84.18,69,20,10.36,few clouds
28,28,Toyooka,JP,2022-08-14 21:44:21,35.5333,134.8333,78.82,88,100,4.38,moderate rain
29,29,Butaritari,KI,2022-08-14 21:44:21,3.0707,172.7902,81.55,78,45,14.94,light rain
30,30,Hambantota,LK,2022-08-14 21:41:54,6.1241,81.1185,77.34,100,20,2.30,few clouds
34,34,Mahajanga,MG,2022-08-14 21:44:22,-15.7167,46.3167,71.62,60,0,10.36,clear sky
37,37,Praia,CV,2022-08-14 21:44:23,14.9215,-23.5087,79.34,78,75,11.50,broken clouds

In [76]:
# 4a. Determine if there are any empty rows.
preferred_cities_df.count()

City_ID                337
City                   337
Country                337
Date                   337
Lat                    337
Lng                    337
Max Temp               337
Humidity               337
Cloudiness             337
Wind Speed             337
Current Description    337
dtype: int64

In [77]:
# 4b. Drop any empty rows and create a new DataFrame that doesn’t have empty rows.
preferred_cities_clean_df = preferred_cities_df.dropna()
preferred_cities_clean_df.count()

City_ID                337
City                   337
Country                337
Date                   337
Lat                    337
Lng                    337
Max Temp               337
Humidity               337
Cloudiness             337
Wind Speed             337
Current Description    337
dtype: int64

In [79]:
# 5a. Create DataFrame called hotel_df to store hotel names along with city, country, max temp, and coordinates.
hotel_df = preferred_cities_clean_df[["City", "Country", "Max Temp", "Current Description", "Lat", "Lng"]].copy()

# 5b. Create a new column "Hotel Name"
hotel_df["Hotel Name"] = ""
hotel_df.head(10)

,City,Country,Max Temp,Current Description,Lat,Lng,Hotel Name
0,Altos,BR,88.11,broken clouds,-5.0381,-42.4600,
4,Biak,ID,74.82,overcast clouds,-0.9131,122.8766,
5,The Valley,AI,87.66,few clouds,18.2170,-63.0578,
7,Rikitea,PF,73.26,clear sky,-23.1203,-134.9692,
10,Anloga,GH,73.74,light rain,5.7947,0.8973,
12,Kotovo,RU,72.10,overcast clouds,50.3211,44.8012,
13,Naze,JP,81.52,few clouds,28.3667,129.4833,
14,Atuona,PF,77.36,clear sky,-9.8000,-139.0333,
15,Cabo San Lucas,MX,87.62,broken clouds,22.8909,-109.9124,
16,Souillac,MU,70.18,broken clouds,-20.5167,57.5167,

In [80]:
# 6a. Set parameters to search for hotels with 5000 meters.
params = {
    "radius": 5000,
    "type": "lodging",
    "key": g_key,
    "location": "48.8566, 2.3522"
}

# 6b. Iterate through the hotel DataFrame.

for index, row in hotel_df.iterrows():

    # 6c. Get latitude and longitude from DataFrame
    lat = row["Lat"]
    lng = row["Lng"]
    params["location"] = f"{lat},{lng}"
    
    # 6d. Set up the base URL for the Google Directions API to get JSON data.
    base_url = "https://maps.googleapis.com/maps/api/place/nearbysearch/json"

    # 6e. Make request and retrieve the JSON data from the search. 
    hotels = requests.get(base_url, params=params).json()
    
    # 6f. Get the first hotel from the results and store the name, if a hotel isn't found skip the city.
    try:
        hotel_df.loc[index, "Hotel Name"] = hotels["results"][0]["name"]
    except (IndexError):
        print("Hotel not found... skipping.")

Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.
Hotel not found... skipping.

In [81]:
# 7. Drop the rows where there is no Hotel Name.
hotel_df["Hotel Name"].replace('', np.nan, inplace=True)
hotel_df["Hotel Name"].isnull().sum()
hotel_df.dropna(subset=["Hotel Name"], inplace=True)

In [82]:
# 8a. Create the output File (CSV)
clean_hotel_df = hotel_df
output_data_file = "../Vacation_Search/WeatherPy_vacation.csv"
# 8b. Export the City_Data into a csv
clean_hotel_df.to_csv(output_data_file, index_label="City_ID")

In [88]:
# 9. Using the template add city name, the country code, the weather description and maximum temperature for the city.
info_box_template = """
<dl>
<dt>Hotel</dt><dd>{Hotel Name}</dd>
<dt>City</dt><dd>{City}</dd>
<dt>Country</dt><dd>{Country}</dd>
<dt>Weather Description</dt><dd>{Current Description}</dd>
<dt>Max Temp</dt><dd>{Max Temp} °F</dd>
</dl>
"""
# 10a. Get the data from each row and add it to the formatting template and store the data in a list.
hotel_info = [info_box_template.format(**row) for index, row in clean_hotel_df.iterrows()]

# 10b. Get the latitude and longitude from each row and store in a new DataFrame.
locations = clean_hotel_df[["Lat", "Lng"]]

In [89]:
# 11a. Add a marker layer for each city to the map. 
locations = hotel_df[["Lat", "Lng"]]
max_temp = hotel_df["Max Temp"]
fig = gmaps.figure(center=(30.0, 31.0), zoom_level=1.5)
heat_layer = gmaps.heatmap_layer(locations, weights=max_temp,dissipating=False,
             max_intensity=300, point_radius=4)
marker_layer = gmaps.marker_layer(locations, info_box_content=hotel_info)
fig.add_layer(heat_layer)
fig.add_layer(marker_layer)
# 11b. Display the figure
fig

Figure(layout=FigureLayout(height='420px'))